.contactMe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title {
    padding: 1rem;
    background: black;
    border-radius: 10%;
    font-size: 1rem;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info {
    display: flex;
    flex-direction: column;
}
input {
    margin: 1rem;
    padding: 0.5rem;
    background: #1f1e1e;
    color: white;
    border-radius: 10%;
}
textarea {
    resize: none;
    background: #1f1e1e;
    color: white;
    border-radius: 5%;
}
button {
    width: 100%;
    border-radius: 5%;
}

@media only screen and (min-width: 992px) {
   .title {
        font-size: 2.5rem;
   }
  }