.contactMe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}
.title {
    padding: 0.5rem;
    background: black;
    border-radius: 10%;
}
button {
    width: 100%;
}
input {
    margin: 1rem 0rem;
}
textarea {
    resize: none;
}