@import url('https://fonts.googleapis.com/css2?family=Maiden+Orange&display=swap');

.contactMe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    color: #000;
}
.title {
    padding: 1rem;
    font-size: 2em;
    background: #D4AF37;
    border-radius: 10%;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #FFFFFF;
    -webkit-text-stroke: 1px #000000;
}
.info {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
input {
    padding: 2rem;
    color: #000000;
    border: 3px solid #D4AF37 ;
}
textarea {
    resize: none;
    color: #000000;
    border: 3px solid #D4AF37 ;
}
button {
    width: 100%;
    border-radius: 5%;
    background: #d4af37ea;
    color: #000;
    font-family: 'Maiden Orange', sans-serif;
    font-size: 1.5rem;
}

@media only screen and (min-width: 992px) {
   .title {
        font-size: 4rem;
   }
   button {
    font-size: 2rem;
   }
  }