.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    .emoji {
        padding: 1rem;
        font-size: 5rem;
    }
    .title {
        padding: 1rem;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .info {
        margin: 1rem;
        padding: 3rem;
        border-radius: 10%;
        font-size: 1.2rem;
        color:#000;
        background: #D4AF37;
    }
@media only screen and (min-width: 992px) {
    .emoji {
        font-size: 8rem;
    }
    .title {
        font-size: 3rem;
    }
    .info {
        margin: 2rem 5rem;
    }
    }