.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    .emoji {
        padding: 1rem;
        font-size: 5rem;
    }
    .title {
        padding: 1rem;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .info {
        padding: 3rem;
        font-size: 1.2rem;
    }
@media only screen and (min-width: 992px) {
    .emoji {
        font-size: 8rem;
    }
    }