.mongo {
    height: 128px;
    
}
.express {
    height: 128px;
}
.react {
    height: 128px;
}
.node {
    height: 128px;
}
.fullstack {
    height: auto;
    width: 100%;
}
@media only screen and (min-width: 992px) {
    .main {
        margin-left: 5rem;
        padding: 1rem;
      }
    }