.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0rem 1rem 6rem 1rem;
}
.contactIcons {
    padding: 1rem 1rem;
}
.icons {
    padding: 0.5rem;
    border-radius: 10%;
    background: #D4AF37;
}
.icons:hover {
    opacity: .7;
}

@media only screen and (min-width: 992px) {
    .contact {
        flex-direction: row;
    }
    .contactIcons {
        padding: 0rem 2rem;
    }
}