.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0rem;
}
.contactIcons {
    padding: 1rem 0rem;
}
.icons {
    padding: 0.5rem;
    border-radius: 10%;
    background: #D4AF37;
}
.icons:hover {
    transform: scale(1.1);
}

@media only screen and (min-width: 992px) {
    .contact {
        flex-direction: row;
    }
    .contactIcons {
        padding: 0rem 2rem;
    }
}