.main {
    background-image: url(../../../public/img/svg/space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
}
.title {
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 900;
}
.project {
    margin: 1rem;
    background: black;
    border-radius: 3%;

}
p {
    margin: 2rem 0rem;
}
.imgContainer {
    margin: 1rem;
}
.news {
    height: 512px;
    border: 3px solid black;
    border-radius: 3%;
    width:100%;
}
.projectDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3rem;
    font-weight: bolder;
}

@media only screen and (min-width: 992px) {
      .title {
        font-size: 4rem;
      }
}