@media only screen and (min-width: 992px) {
    .main {
        margin-left: 5rem;
        padding: 1rem;
      }
      .news {
          height: 256px;
          width: 100%;
      }
    }
.news {
    height: 512px;
    width:100%;
}