.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 8rem;
}
.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile {
    height: 256px;
    border-radius: 50%;
}
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1vh;
}
.contactIcons {
    padding-right: 5vw;
}
@media only screen and (min-width: 992px) {
    .main {
        margin-left: 6rem;
        padding: 2rem;
      }
      .presentation p {
        padding: 0rem 20rem;
    
    }
    }