.main {
  padding-bottom: 8rem;
}
.socialMedia {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
.socialMedia div{
  padding-right: 2rem;
}
@media only screen and (min-width: 992px) {
    .main {
        margin-left: 5rem;
        padding: 8rem;
      }
    }