.main {
  background: linear-gradient(
        54deg,#0043AE 34%,rgb(255, 255, 255));
  color: white;
}
.socialMedia {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}
.socialMedia div{
  padding-right: 2rem;
}

.customShapeDividerBottom1652666792 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.customShapeDividerBottom1652666792 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 238px;
}

.customShapeDividerBottom1652666792 .shapeFill {
  fill: #FFFFFF;
}

.customShapeDividerTop1652667296 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.customShapeDividerTop1652667296 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 238px;
}

.customShapeDividerTop1652667296 .shapeFill {
  fill: #FFFFFF;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .customShapeDividerBottom1652666792 svg {
      width: calc(100% + 1.3px);
      height: 92px;
  }
  .customShapeDividerTop1652667296 svg {
      width: calc(100% + 1.3px);
      height: 92px;
  }
}