.main {
  padding: 8rem;
  background-image: url(../../../public/img/svg/light-background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
