.accordion {
    padding: 2rem;
    color: white;
}
.accordionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #131313;
    cursor: pointer;
  }
  
  .accordionHeader:hover {
    background-color: rgb(78, 76, 76);
  }
  .accordionTitle {
    font-weight: bold;
    padding: 2rem;
  }
  .accordionImage {
    height: 4rem;
  }
  
  .accordionIndicator {
    font-size: 30px;
  }
  .techTitle {
    padding: 1rem 0rem;
    font-size: larger;
    font-weight: bold;
  }
  .tech {
    padding: 2rem 0rem;
  }
  .techInfo {
    font-style: italic;
  }
  .projectDescription {
    padding: 1rem 0rem;
    font-size: larger;
    font-weight: bold;
  }
  .accordionBody {
    text-align: left;
    font-size: 20px;
    padding: 1rem;
    background: #1a1a1a;
  }

  .btns {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}
.icons {
    margin-left: 0.4vw;
    padding: 0.09rem;
    border-radius: 10%;
    height: 0.7rem;
    background: white;
}
button {
    margin: 1rem 0rem;
    background-color: #131313;
    border: 1px solid white;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem;
    cursor: pointer;
}
button:hover {
  transform: scale(1.1);
}
@media only screen and (min-width: 992px) {
    .accordionTitle {
      font-size: 2.5rem;
      font-weight: bold;
    }
    .btns {
        justify-content: space-evenly;
        flex-direction: row;
      }
      .accordionImage {
        height: 10rem;
      }
}