.accordion {
    padding: 2rem;
    color: #000;
}
.accordionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #D4AF37;
    cursor: pointer;
  }
  
  .accordionHeader:hover {
    background-color: #FFE55C;
  }
  .accordionTitle {
    font-weight: bold;
    font-size: 0.9rem;
    padding: 2rem;
  }
  .accordionImage {
    height: 4rem;
  }
  
  .accordionIndicator {
    font-size: 30px;
  }
  .techTitle {
    padding: 1rem 0rem;
    font-size: larger;
    font-weight: bold;
  }
  .tech {
    padding: 2rem 0rem;
  }
  .techImg {
    height: 5rem;
  }
  .projectDescription {
    padding: 1rem 0rem;
    font-size: larger;
    font-weight: bold;
  }
  .accordionBody {
    text-align: left;
    font-size: 1.8rem;
    padding: 1rem;
    background:  #a88b2b;
  }

  .btns {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}
button {
    margin: 1rem 0rem;
    background-color: #131313;
    border: 1px solid #000;
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    padding: 1rem;
    cursor: pointer;
}
button:hover {
  transform: scale(1.1);
}
@media only screen and (min-width: 992px) {
    .accordionTitle {
      font-size: 2.5rem;
      font-weight: bold;
    }
    .btns {
        justify-content: space-evenly;
        flex-direction: row;
      }
      .accordionImage {
        height: 10rem;
      }
}