.main {
  background-image: url(../../../public/img/svg/low-poly-grid-haikei\ \(3\).svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
@media only screen and (min-width: 992px) {
    .main {
        margin-left: 5rem;
      }
    }