.main {
  background-image: url(../../../public/img/svg/red-background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #000;
  padding-bottom: 6rem;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  font-size: 1.5rem;
  font-weight: 900;
}

@media only screen and (min-width: 992px) {
    .main {
        margin-left: 5rem;
      }
      .title {
        font-size: 4rem;
      }
    }